@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--font-barlow);
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.over-blur {
  backdrop-filter: blur(1.5rem);
  background-color: rgba(66, 77, 97, 0.1);
}

@media (min-width: 1024px) {
  .over-blur-desktop {
    backdrop-filter: blur(1.5rem);
    background-color: rgba(66, 77, 97, 0.1);
  }
}

h1, h2, h3 {
  font-family: var(--font-bellefair);
}

.font-bell {
  font-family: var(--font-bellefair);
}

.alter-font {
  font-family: var(--font-barlowCondensed);
}

.page-h {
  height: calc(100vh - 6rem);
}

.home {
  background-image: url('../../public/assets/images/home/background-home-mobile.jpg');
  background-repeat: none;
  background-size: cover;
} 

.destination {
  background-image: url('../../public/assets/images/destination/background-destination-mobile.jpg');
  background-repeat: none;
  background-size: cover;
} 

.crew {
  background-image: url('../../public/assets/images/crew/background-crew-mobile.jpg');
  background-repeat: none;
  background-size: cover;
} 

.technology {
  background-image: url('../../public/assets/images/technology/background-technology-mobile.jpg');
  background-repeat: none;
  background-size: cover;
}

/* TABLET BACKGROUND */ 
@media (min-width: 768px) {
  .home {
    background-image: url('../../public/assets/images/home/background-home-tablet.jpg');
  } 
  .destination {
    background-image: url('../../public/assets/images/destination/background-destination-tablet.jpg');
  } 
  .crew {
    background-image: url('../../public/assets/images/crew/background-crew-tablet.jpg');
  } 
  .technology {
    background-image: url('../../public/assets/images/technology/background-technology-tablet.jpg');
  }
  /* Heigth without Header Nav and Subtitle */
  .page-h-tablet {
    height: calc(100vh - 10rem);
  }
}

/* DESKTOP BACKGROUND */
@media (min-width: 1440px) {
  .home {
    background-image: url('../../public/assets/images/home/background-home-desktop.jpg');
  } 
  .destination {
    background-image: url('../../public/assets/images/destination/background-destination-desktop.jpg');
  } 
  .crew {
    background-image: url('../../public/assets/images/crew/background-crew-desktop.jpg');
  } 
  .technology {
    background-image: url('../../public/assets/images/technology/background-technology-desktop.jpg');
  }
  .page-h-desktop {
    height: calc(100vh - 15.75rem);
  }
  .home-h-desktop {
    height: calc(100vh - 12.75rem);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
